@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$primary: #212A3E;
$secondary: #b31312;
$accent: #9336b4;
$purple: #654E92;
$pink: #dd58d6;
$white: #fff;
$text: #222;

$roboto: "Roboto", sans-serif;
$nunito: "Nunito Sans", sans-serif;
